<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qwen.chat.platform.infrastructure.dao.QwenDao">

    <resultMap id="dataMap" type="qwen.chat.platform.infrastructure.dao.po.History">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="history_code" property="historyCode"/>
        <result column="history_json" property="historyJson"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="getHistory" resultMap="dataMap">
        select history_json
        from history
        where user_id = #{userId} and history_code = #{historyCode}
    </select>

    <insert id="insert" parameterType="qwen.chat.platform.infrastructure.dao.po.History">
        insert into history (user_id, history_code, history_json, create_time, update_time) values
        (#{userId}, #{historyCode}, #{historyJson}, now(), now())
    </insert>

    <update id="update" parameterType="qwen.chat.platform.infrastructure.dao.po.History">
        update history
        set
            history_json = #{historyJson},
            update_time = now()
        where
            user_id = #{userId}
          and history_code = #{historyCode}
    </update>

</mapper>
